<div class="d-flex justify-content-around">
  <table class="m-1 table">
    <tr>
      <th>ID</th>
      <th class="text-center">NAME</th>
      <th class="text-right">AGE</th>
    </tr>
    <tr *ngFor="let hero of (heroes$ | async)" style="cursor: pointer;" [class.selected]="selectedHero === hero.id"
      (click)="selectHero(hero)">
      <td> {{ hero.id }} </td>
      <td> {{ hero.name }} </td>
      <td class="text-right"> {{ hero.age }} </td>
    </tr>
  </table>
</div>

<form [formGroup]="rForm">
  <input type="text" formControlName="name">
  <input type="text" formControlName="surname">
  <div class="row">
    <div class="col-sm-2">
      <zz-child [values]="values"></zz-child>
    </div>
  </div>
  <button [disabled]="rForm.valid" (click)="test()">pepito</button>
</form>


<div class="m-1 d-flex justify-content-around">
  <span> {{ antihero.id }} </span>
  <input type="text" [(ngModel)]="antihero.name" (ngModelChange)="test(antihero)" placeholder="Name" />
  <span> {{ antihero.isAlreadyDead }} </span>
</div>